body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.blue-color {
    color: deepskyblue;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    margin-left: 10%;
}

.half-width p {
    font-size: 22px;
}

.half-width img {
    width: 80%;
    padding-right: 20px;
}

.upper-part {
    background-image: url(images/frame9.png);
    background-repeat: no-repeat;
}

.upper-content {
    margin-top: 79px;
}

.click-button {
    text-decoration: none;
    background-image: linear-gradient(blue, green);
    padding: 10px 20px;
    color: red;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 10px;
}

.second-part .half-width p {
    padding-right: 150px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 60px;
}